> # CST1510 Programming for data communication and networks
> # Week 1 Lab – Python Foundations
<hr style="border:2px solid gray">

This session introduces Python’s core building blocks: variables, data types, and input/output operations. These fundamentals support all later work in this module.

---

## Topics
- Variables and data types (`int`, `float`, `str`, `bool`)
- Input (`input()`) and output (`print()`), single/double quotes and escape sequences
- Comments and basic Python syntax (PEP8 naming)
- Numeric and augmented assignment operators
- Built-in functions (`type`, `len`, `round`, `min`, `max`, `sum`)
- Importing simple built-in modules

---

## Lab Structure
Tasks are grouped by difficulty:
- **Threshold** – essential skills
- **Typical** – applied tasks
- **Excellent** – extended challenges
- **Stretch (Optional)** – enrichment problems

At the end, select 1–2 tasks for your portfolio.

## Problem-Solving & Pseudocode (Brief)

1. **Inputs/Outputs** – identify required inputs (types/units) and desired outputs (format/precision).
2. **Steps** – list actions in order: read → convert → compute → display.
3. **Translate** – convert each step to code with clear variable names and f-strings.
4. **Test** – try typical and edge values; verify units and formatting.

**Worked example – Rectangle calculator**

- Inputs: width, height (numbers)  
- Outputs: area and perimeter (2 d.p.)

```python
width = float(input("Width: "))
height = float(input("Height: "))
area = width * height
perimeter = 2 * (width + height)
print(f"Area = {area:.2f}")
print(f"Perimeter = {perimeter:.2f}")
```

# Threshold Tasks

### Threshold 1. Questionnaire

Write a program that asks for name, interest, nationality, course, and programming experience, then prints a formatted summary using escape sequences (`\n`, `\t`).

**Example Output:**
```
User Information:
	Name: Alice
	Interest: Security
	Nationality: UK
	Course: Cyber
	Experience: Beginner
```

In [1]:
#Asking user for name
name= input('Enter your name:')
#Asking user for interests
interest= input("Enter your interests:")
#Asking user for nationality
nationality= input("Enter your nationality:")
#Asking user their course
course= input("Enter your course:")
#Asking user their programming experience
experience= input("Enter your Programming Experience:")

#Printing user information in a formatted summary
print("Users Information:\n\t Name:" , name, "\n\t interest:" , interest, "\n\t nationality:", nationality, "\n\t course" , course, "\n\t experience" ,  experience)

Enter your name: Maryam
Enter your interests: Sewing
Enter your nationality: American
Enter your course: Ai
Enter your Programming Experience: Beginner

Users Information:
	 Name: Maryam
	 interest: Sewing
	 nationality: American
	 course Ai
	 experience Beginner

### Threshold 2. Rectangle Area & Perimeter

Calculate and print the area and perimeter of a rectangle using fixed values: width = 4.5 and height = 7.9.
Formulas: `area = width * height`, `perimeter = 2 * (width + height)`.

**Example Output:**
```
Area = 35.55
Perimeter = 24.80
```

In [13]:
#Values given to calculate area and perimeter

height=7.9
width=4.5

#area and perimeter formula
area= width * height
perimeter= 2*(width + height)

print("area =" , area)
print("perimeter =", perimeter)

area = 35.550000000000004
perimeter = 24.8

### Threshold 3. Convert Pounds to Kilograms

Ask the user for a value in pounds, convert to kilograms using `1 lb = 0.454 kg`, and print the result.

**Example Output:**
```
55.5 pounds is 25.197 kilograms
```

In [15]:
#Ask user to input a weight in pounds
pounds= float(input("Enter a weight in pounds: "))

#Conversion from pounds to kg
kilograms = pounds *0.454

print(f"{pounds} pounds in {kilograms} kilograms")

Enter a weight in pounds: 35
35.0 pounds in 15.89 kilograms

### Threshold 4. Convert Feet to Meters

Ask the user for a value in feet, convert to meters using `1 ft = 0.305 m`, and print the result.

**Example Output:**
```
16.5 feet is 5.0325 meters
```

In [16]:
#Ask user to input a length in feet
feet= float(input("Enter a length in feet: "))

#Conversion from feet to meters
meters = feet *0.305

print(f"{feet} feet in {meters} meters")

Enter a length in feet: 45
45.0 feet in 13.725 meters

### Quick Check (no code submission)
- What data type does `input()` return? Use `type(input("x"))` to verify.  
- Show one example of an escape sequence in `print()`.  
- What is the difference between `/` and `//`? Provide a one-line example for each.

# Typical Tasks

### Typical 1. Total Time to Watch a Series

Compute total viewing time (no breaks) for a series:
- 5 seasons, 10 episodes per season
- Season 1: 45 minutes 35 seconds per episode
- Seasons 2–5: 35 minutes 15 seconds per episode
Display the total as hours, minutes, and seconds.

**Example Output:**
```
Total time: 39h 30m 0s
```

In [1]:
seasons = 5  # there are 5 seasons in total
episodes_per_season = 10  # each season has 10 episodes
season1_time = (45 * 60) + 35  # season 1 episode = 45 mins and 35 secs, converted to seconds
season2_5_time = (35 * 60) + 15  # seasons 2-5 episodes = 35 mins and 15 secs, converted to seconds
total_seconds = season1_time * episodes_per_season + season2_5_time * episodes_per_season * 4  # total time for all episodes
hours = total_seconds // 3600  # convert seconds to hours
minutes = (total_seconds % 3600) // 60  # leftover minutes after hours
seconds = total_seconds % 60  # leftover seconds after minutes
print("Total time:", hours, "h", minutes, "m", seconds, "s")  # show the total watch time

Total time: 31 h 5 m 50 s

### Typical 2. Savings Projection (3 Years)

Compute final savings after 3 years given:
- Save £10 every week for 3 years
- Year 1 bonus: +£20 each week
- Every 2 weeks: −£0.50 (sister)
Assume 52 weeks per year; use arithmetic and augmented assignment; no conditionals.

**Example Output:**
```
Final savings after 3 years: £4689.50
```

In [2]:
weeks=52*3  #3 years, each year has 52 weeks
weekly_save=10  #saving £10 every week
bonus=20  #extra £20 every week in year 1
sister_cut=0.5/2  #sister takes 50p every 2 weeks so 25p per week.
total_savings=(weekly_save+bonus-sister_cut)*weeks  #total after 3 years
print("Final savings after 3 years: £",total_savings)  #show final money

Final savings after 3 years: £ 4641.0

### Typical 3. Cyber: HTTP Log Composer

Ask for IP, method, path, status, and bytes, then print a single combined log line (Apache-style).

**Example Output:**
```
192.168.1.10 - "POST /auth" 401 512
```

In [3]:
ip= input("Enter IP address: ")  #get IP address
method= input("Enter method (e.g., GET, POST): ")  #get HTTP method
path= input("Enter path (e.g., /home, /login): ")  #get URL path
status= input("Enter status code: ")  #get status code
bytes_sent= input("Enter bytes sent: ")  #get bytes size

print(f'{ip} - "{method} {path}" {status} {bytes_sent}')  #print combined log line

Enter IP address:  198.459.5.90
Enter method (e.g., GET, POST):  post
Enter path (e.g., /home, /login):  home
Enter status code:  508
Enter bytes sent:  90

198.459.5.90 - "post home" 508 90

### Typical 4. Data Science: Dataset Metadata

Ask for dataset name, rows, and columns. Print:
- dataset name in quotes
- rows and columns
- total cells (rows × columns)

**Example Output:**
```
"sales.csv"
Rows: 120
Columns: 8
Cells: 960
```

In [4]:
dataset= input("Enter dataset name: ")  #get dataset name
rows= int(input("Enter number of rows: "))  #get total rows
columns= int(input("Enter number of columns: "))  #get total columns

total_cells= rows * columns  #calculate total cells

print(f'"{dataset}"')  #print dataset name in quotes
print("Rows:", rows)  #print rows
print("Columns:", columns)  #print columns
print("Cells:", total_cells)  #print total cells

Enter dataset name:  maryan
Enter number of rows:  8
Enter number of columns:  3

"maryan"
Rows: 8
Columns: 3
Cells: 24

### Typical 5. IT: INI-style Config Printer

Ask for three `key=value` pairs (via separate prompts) and print them as an INI block with indentation.

**Example Output:**
```
[config]
	max_connections = 200
	timeout = 30
	region = eu-west-2
```

In [5]:
key1= input("Enter first key=value pair: ") #get first key=value
key2= input("Enter second key=value pair: ") #get second key=value
key3= input("Enter third key=value pair: ") #get third key=value

print("[config]") #print header
print("\t" + key1) #print first key=value with tab
print("\t" + key2) #print second key=value with tab
print("\t" + key3) #print third key=value with tab

Enter first key=value pair:  200
Enter second key=value pair:  80
Enter third key=value pair:  90

[config]
	200
	80
	90

# Excellent Tasks

### Excellent 1. Cyber: Timestamped Auth Event

Ask for a username and action (e.g., `LOGIN` or `LOGOUT`) and print a timestamped event line.

**Example Output:**
```
[2025-09-17 14:20:15] LOGIN user=alice
```


*Optional hint:* `from datetime import datetime; datetime.now().strftime(...)`

In [ ]:
# Your code here

### Excellent 2. Data Science: Mini Statistics Report

Ask for five numeric values (space-separated). Print the values, total, mean, median, and sample standard deviation.

**Example Output:**
```
Values: 80, 90, 70, 85, 75
Total = 400.00
Mean = 80.00
Median = 80.00
Std Dev = 7.91
```


*Optional hint:* `import statistics as stats`

In [ ]:
# Your code here

### Excellent 3. IT: Path Decomposition Report

Ask for a file or directory path and print its absolute path, parent, name, stem, and suffix.

**Example Output:**
```
Absolute path: /home/user/project/service.log
Parent: /home/user/project
Name: service.log
Stem: service
Suffix: .log
```


*Optional hint:* `from pathlib import Path`

In [ ]:
# Your code here

In [ ]:
from pathlib import Path
inp = input("Enter a path: ")
p = Path(inp).expanduser().resolve()
#...

### Excellent 4. System Info Banner

Ask for a hostname and print OS and Python version as a simple banner (one value per line).

**Example Output:**
```
Host: server01
OS: Linux
Python: 3.11.5
```


*Optional hint:* `import platform; platform.system(); platform.python_version()`

In [ ]:
# Your code here

# Stretch

### Stretch 1. Sum of First n Integers

Ask for a positive integer `n` and compute the sum `n*(n+1)//2`. Print the result.

**Example Output:**
```
Sum of 1..10 = 55
```

In [ ]:
# Your code here

### Stretch 2. Pentagon Area

Ask for the side length `s` and compute the area: `area = 5*s**2 / (4*tan(pi/5))`. Print to 2 d.p.

**Example Output:**
```
Area = 172.05
```


*Optional hint:* `from math import tan, pi`

In [ ]:
# Your code here

### Stretch 3. Population Projection (5 Years)

Assume current population is 312032486 and 1 year = 365 days.
Rates: birth every 7s, death every 13s, immigrant every 45s.
Compute projected population for each of the next 5 years using integer division (`//`).

**Example Output:**
```
Year 1: 315,xxx,xxx
...
Year 5: ...
```


*Optional hint:* Compute yearly net change once; then add each year.

In [ ]:
# Your code here

### Stretch 4. Payroll Statement

Ask for: employee name, hours worked, hourly rate, federal tax rate, state tax rate.
Print a formatted payroll slip with gross pay, each deduction, and net pay (2 d.p.).

**Example Output:**
```
Employee: Smith
Gross pay: £97.50
Federal withholding: £19.50
State withholding: £8.78
Net pay: £69.22
```

In [ ]:
# Your code here

---

## Portfolio
Select one or two completed activities that best demonstrate this week’s learning. Polish the code (naming, formatting, comments) so you can commit them to Git in later weeks